*{
	margin: 0px;
}
body{
	margin: 0px;
	/*font-family: SimHei,"黑体", Hiragino Sans GB, "冬青黑体", sans-serif;*/
}
.container{
	width: 1024px;
	margin: auto;
}
.header-box{
	color: #fff;
	position: relative;
	height: 575px;
	overflow: hidden;
	background-color: #192314;
}
.header-pic-box{
	width: 652px;
	height: 488px;
	float: right;
	background-image: url(https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/beosound-shape/green-beosound-shape-desktop.jpg);
	background-size: 100% auto;
}
.header-text-box{
	position: absolute;
	float: left;
	width: 512px;
	height: 208px;
	left: 100px;
	top: 150px;
}
.description{
	margin-bottom: 18px;
    font-size: 20px;
    font-weight: 400;
    font-family: "SimHei";
    color: inherit;
    letter-spacing: 2px;
    line-height: 24px;
}
.title{
	margin: 10px 0px 12px 0px;
	font-size: 2.5em;
	font-family: "SimHei";
    line-height: 60px;
    font-weight: 400;
    color: inherit;
    letter-spacing: 2px;
}
.small-desc{
	width: 256px;
	line-height: 21px;
	margin-bottom: 20px;
	font-size: 13px;
    font-weight: 300;
    font-family: "Gotham SSm A","Gotham SSm B";
}
.button{
	display: block;
	width: 202px;
	height: 14px;
	padding: 12px 35px;
	margin: 8px 0px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	background-color: rgba(255,255,255,.1);
}
.banner-box{
	height: 398px;
	background-image: url(https://www.bang-olufsen.com/~/mediaV3/home/frontpage/slider/harmonies/1350/img-bg-1350.jpg);
	background-size:1050px 490px;
}
.product-box{
	z-index: 100;
	position: relative;
	height: 346px;
	width: 690px;
	background-color: #000;
	margin: -48px auto;

}
.product-item{
	position: relative;
	color: #fff;
	text-transform:uppercase;
	width: 230px;
	height: 346px;
	float: left;
}
.product-item img{
	width: 100%;
	height: 100%;
}
.product-item h4{
	font-size: 20px;
    line-height: 1.3125em;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 500;
	position: absolute;
	padding: 14px 12px 25px 20px;
}